.buttonTab-container-base {
  padding: 1em 0.25em;

  font-weight: bolder;
}

.buttonTab-button {
  text-decoration: none;
}

.buttonTab-selected {
  color: #73FBD3;
}

.buttonTab-unselected {
  color: white;
}